@inherits AppCode.Razor.TextMediaRazor
@using AppCode
@using AppCode.Data
@using Accuraty.Libraries.AccuLadder

@* Tw4 Conversion v0.9.0 20251023 JRF 
- so far we've needed no data; e.g. order-last
- testing pageId 129: https://accu2025.accuraty.us/SITE/Tw4-Content-App-2sxc/Text-and-Image
*@

@*  This Template is used in ca. 5 Views which show title, text and image  *@

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@{
  // Html DOM attribute for fancybox, viewSettings, etc.
  var fancyboxAttribute = "app-content-fancybox-" + UniqueKey;
  var viewSettings = MyView.Settings;
}

@* [--cols-text-element:4] [--cols-text-element:6] [--cols-text-element:8] *@
<div class="container mx-auto max-w-dvw space-y-3 p-3 [--cols-text-element:@viewSettings.ColsElement1]">

  @* Show all the content-items - one or more *@
  @foreach (var item in MyTextsWithImages)
  {
    // to keep the available details in play, for now, we add them add data- elements
    string dataItemId = $"data-item-id-{item.Id}";
    string dataRowClass = $"data-row-class-{Accu.Web.ToSlug(item.RowClass)}";
    <div @dataItemId class="grid lg:grid-cols-12 items-center gap-10 md:even:[&>*:first-child]:order-last"
      @Kit.Toolbar.Default(item)>
      <div class="col-span-[--cols-text-element]">
        @Helpers.ShowTitle(item).Add(" - Tw4")
        @if (viewSettings.ImgIsBetweenTitleAndText)
        {
          @Html.Partial("Text and Image.Part-Image.cshtml", new { item })
        }
        @item.Html("Text", toolbar: false)
      </div>

      @* If the image has it's own column, it's here *@
      @if (!viewSettings.ImgIsBetweenTitleAndText)
      {
        // string dataColsMedia = $"{viewSettings.ColsMedia}";
        // string dataTextPlacement = $"{item.TextPlacement}";
        // string data
        <div class="col-span-[calc(12-var(--cols-text-element))] rounded-xl shadow-lg object-cover aspect-video"> @* @dataColsMedia @dataTextPlacement> *@
          @* call sub-template to show the image with all possible options *@
          @Html.Partial("Text and Image.Part-Image.cshtml", new { item, Columns = viewSettings.ColsMedia, fancyboxAttribute })
        </div>
      }
    </div>
  }
  </div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts" })
@ActivateFancyBox(fancyboxAttribute)
