@inherits AppCode.Razor.TextMediaRazor
@using AppCode
@using AppCode.Data
@using Accuraty.Libraries.AccuLadder

@* Tw4 Conversion v0.9.0 20251023 JRF 
- so far we've needed no data; e.g. order-last
- testing pageId 129: https://accu2025.accuraty.us/SITE/Tw4-Content-App-2sxc/Text-and-Image

Mapping Out the settings in play - this conversion is kinda hard until you can easily see all the settings easily
View Settings
List Settings
Header
List Presentation Settings
Content Presentation Settings
Image Settings
*@

@*  This Template is used in ca. 5 Views which show title, text and image  *@

@{
  // Html DOM attribute for fancybox, viewSettings, etc.
  var fancyboxAttribute = "app-content-fancybox-" + UniqueKey;
  var viewSettings = MyView.Settings;
  int textColumns = viewSettings.ColsElement1 == 4 
    ? 8 
    : viewSettings.ColsElement1;
  string textSwapClass = viewSettings.TextFirst
    ? "lg:even:[&>*:first-child]:order-last" 
    : "lg:odd:[&>*:first-child]:order-last"
  ;
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@* [--cols-text-element:6] [--cols-text-element:8] *@
<div class="container mx-auto max-w-dvw space-y-3 p-3 [--cols-text-element:@textColumns]">

  @* Show all the content-items - one or more *@
  @foreach (var item in MyTextsWithImages)
  {
    <div @($"data-item-id-{item.Id}") class="grid lg:grid-cols-12 gap-10 @textSwapClass"
      @Kit.Toolbar.Default(item)>
      <div class="col-span-[var(--cols-text-element)]">
        @Helpers.ShowTitle(item).Add(" - Tw4")
        @if (viewSettings.ImgIsBetweenTitleAndText)
        {
          @Html.Partial("Text and Image.Part-Image.cshtml", new { item })
        }
        @item.Html("Text", toolbar: false)
        @* debug/testing output *@
        @if (false && Kit.Edit.Enabled)
        {
          <pre class="my-0 py-0"><code class="my-0 py-0">
            viewSettings.ColsElement1:  @viewSettings.ColsElement1
            TextColumns:                @textColumns
            .TextIsFirst:     @item.TextIsFirst
            .TextPlacement:   @item.TextPlacement
          </code></pre>
        }
      </div>

      @* If the image has it's own column, it's here *@
      @if (!viewSettings.ImgIsBetweenTitleAndText)
      {
        // string dataColsMedia = $"{viewSettings.ColsMedia}";
        // string dataTextPlacement = $"{item.TextPlacement}";
        // string data
        <div class="col-span-[calc(12-var(--cols-text-element))] rounded-xl shadow-lg"> @* @dataColsMedia @dataTextPlacement> *@
          @* call sub-template to show the image with all possible options *@
          @Html.Partial("Text and Image.Part-Image.cshtml", new { item, Columns = viewSettings.ColsMedia, fancyboxAttribute })
        </div>
      }
    </div>
  }
  </div>

@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts" })
@ActivateFancyBox(fancyboxAttribute)
