@inherits AppCode.Razor.AppRazor
@using ToSic.Razor.Blade
@using AppCode
@using AppCode.Data

@*  This is a partial template which is re-used in the Content-Templates  *@
@{
  // Parameter passed in from the calling page
  var imgItem = MyModel.Get<TextImage>("Item");
  var columns = MyModel.Int("Columns", fallback: 0);
  var fbAttribute = MyModel.String("FancyboxAttribute", required: false);

  // Process the data; if we don't have an image, exit
  var pic = new PictureInLightbox(imgItem, "Image", columns);
  if (!pic.HasImage) { return; }
}

@* If we use a lightbox, we must wrap it inside an <a> tag with all the specs *@
@if (pic.UseLightbox)
{
  var picLb = pic.LightboxPic;
  @:<a @fbAttribute data-src='@imgItem.Url("Image")' data-srcset="@picLb.SrcSet" data-sizes="@picLb.Sizes" data-preload="false" data-caption="@pic.LightboxCaption">
}

@* the image inside a figure-tag to show the label nicely *@
  <figure class='@(pic.UseLightbox ? "effect-zoom" : "") 
    relative w-fit my-0 inline-block
    [&>picture_img]:max-w-full [&>picture_img]:h-auto [&>picture_img]:object-cover [&>picture_img]:rounded-xl [&>picture_img]:block'
  >
    @pic.Picture @* .Class("object-cover w-100 h-100") *@
    @if (Text.Has(pic.Picture.Alt))
    {
        <figcaption class="absolute bottom-0 left-0 w-full text-white bg-black/70 rounded-xl">@pic.Picture.Alt</figcaption>
    }
  </figure>

@* closing </a> tag if we used a lightbox *@
@if (pic.UseLightbox)
{
  @:</a>
}
