@* Use custom Razor base class located in /AppCode/Razor with additional helpers *@
@inherits AppCode.Razor.TextRazor
@using AppCode
@using AppCode.Data

@*** This Template is used in ca. 3 Views which only show the title and the text ***@

@{
  var viewSettings = MyView.Settings;
  int textColumns = viewSettings.ColsElement1 == 12 ? 12 : 8;
  string colStart = textColumns == 8 ? "col-start-3" : "";
}

@* Show list header if necessary for configuration *@
@Html.Partial("../shared/Content List Header.cshtml")

@*
  Text Only = Cols: 12, Col pl: 0, text-align: left
  Text Only Centered = Cols: 8, Col pl: 2, text-align: center
  Text Only Emphasized = Cols: 8, Col pl: 2, text-align: left
*@

@* [--cols-text-element:12] [--cols-text-element:8] *@
<div class="container mx-auto max-w-dvw p-3 [--cols-text-element:@textColumns]">

  @* Show all the content-items - one or more *@
  @foreach (var item in MyTextsWithImages)
  {
    <div @($"data-item-id-{item.Id}") class="grid grid-cols-12">
      <div class="lg:mb-5 col-span-(--cols-text-element) @colStart @viewSettings.Styling"
        @Helpers.TextImageToolbar(item, hideImage: true, hideText: false)>
        @Helpers.ShowTitle(item)
        @item.Html("Text", toolbar: false)
      </div>
    </div>
  }

</div>
@Html.Partial("../shared/Assets.cshtml", new { parts = "scripts" })
